.btn
  border: none
  border-radius: 25px
  color: $black
  font-size: 1rem
  height: 50px
  font-weight: 500
  min-width: 226px

  &_yellow
    background: linear-gradient(to bottom, #ffdf00, #ff9800)