.index
  overflow: hidden
  position: relative

.container
  margin: 0 auto
  height: 100%
  position: relative
  padding: 0 42px 0 42px
  max-width: 1440px

  @media (max-width: 1023px)
    padding: 0 27px

  .line
    background: rgba(#fff, .2)
    height: 1px
    position: absolute
    left: 0
    width: 100%

    &_top
      top: 0

    &_subscribe
      top: 93px

    @media (max-width: 1023px)
      display: none

.content
  display: flex
  margin: 0 auto
  height: 100%
  max-width: 1183px
  justify-content: flex-start

  @media (min-width: 2000px)
    max-width: 100%

.preview-container
  position: fixed
  left: 0
  top: 0
  height: 100vh
  width: 100%
  z-index: 9998

.preview-image
  cursor: pointer
  display: flex
  border-radius: 10px
  left: 50%
  height: 90vh
  position: fixed
  top: 50%
  transform: translate(-50%, -50%)
  z-index: 9999
  justify-content: flex-end
  width: 95%

  @media (max-width: 767px)
    height: 70vh

  .img
    height: auto
    object-fit: contain
    max-width: 100%

    &_desktop
      @media (max-width: 767px)
        display: none

    &_mobile
      display: none
      @media (max-width: 767px)
        display: block

.preview
  padding-top: 29px
  position: relative
  height: 100vh

  @media (max-width: 1050px)
    height: auto

  @media (max-width: 1023px)
    padding: 1rem 0 3rem 0

  @media (max-width: 767px)
    padding-bottom: 0

  .logo
    display: block
    height: 34px
    margin-bottom: 5.3rem
    width: 152px

    @media (max-width: 1023px)
      margin-bottom: 2rem

    &__image
      height: auto
      max-width: 100%

    @media (max-width: 767px)
      margin: 0 0 2.2rem -12px

  &__hide
    cursor: pointer
    color: $red
    height: 30px
    position: absolute
    right: 2rem
    top: 2rem
    width: 30px
    z-index: 9999
    -webkit-tap-highlight-color: transparent

    &::before
      background: url('~static/cross.svg') center no-repeat
      content: ''
      display: block
      height: 100%
      width: 100%

  &__wrapper
    align-items: flex-start
    display: flex
    justify-content: space-between
    width: 100%

    @media (max-width: 1023px)
      flex-wrap: wrap

  &__info
    margin-top: 3.13rem
    position: relative
    transition: opacity .35s ease-in-out
    text-align: left
    width: 420px

    &.hidden
      opacity: 0
      z-index: -999

    @media(min-width: 2000px)
      margin-top: 16%

    @media (max-width: 1439px)
      margin-top: 0
      width: 350px

    @media (max-width: 1023px)
      margin-top: 7rem
      order: 2
      width: 100%

    @media (max-width: 767px)
      margin-top: 1.7rem

    .h1
      margin-bottom: 1.44rem

    .subtitle
      margin-bottom: 2.8rem

      @media (max-width: 767px)
        margin-bottom: 1.5rem
        width: 300px

    .title-after-icon
      height: 25px
      margin-left: -5px
      margin-bottom: 8px
      width: 25px

  &__items
    align-items: flex-start
    display: flex
    margin-bottom: 2.7rem
    justify-content: space-between

    .item
      &__description
        color: $blue-l
        font-weight: normal
        font-size: 0.88rem
        line-height: 16px
        margin-top: 0.63rem

    @media (max-width: 1439px)
      .item
        &__description
          font-size: 0.75rem

    @media (max-width: 1023px)
      width: 60%

    @media (max-width: 767px)
      margin-bottom: 2.88em
      flex-wrap: wrap
      width: 100%

      .item
        align-items: center
        display: flex
        margin-bottom: 1rem
        justify-content: flex-start
        width: 100%

        &:last-child
          margin-bottom: 0

        &__description
          margin-left: 5px
          display: flex
          margin: 0

          p
            margin: 0 5px 0 12px

  &__image
    background: url('~static/preview-big.png') center top no-repeat
    background-size: contain
    cursor: pointer
    height: 690px
    margin-top: -148px
    margin-right: -95px;
    transition: all .5s ease-in-out
    width: 670px
    -webkit-tap-highlight-color: transparent

    &.hidden
      background-image: none

    @media (min-width: 2000px)
      margin-right: -200px;
      height: 1040px
      width: 1010px;

    @media (max-width: 1439px)
      margin-right: 50px
      height: 500px
      width: 475px

    @media (max-width: 1023px)
      height: 610px
      margin: 0 auto
      margin-top: 0
      order: 1
      width: 600px

    @media (max-width: 767px)
      background: none
      height: auto
      margin-top: 0
      width: 90%

    .image-animated
      height: 72%
      margin-top: 20%
      outline: none
      transition: all .35s ease-in-out
      width: 100%

      &.open
        margin: 0
        height: 700px
        width: 1000px
        transform: translate(-50%, 10%)

        @media (min-width: 2000px)
          height: 1000px
          width: 1400px
          transform: translate(-43%, 15%)

        @media (max-width: 1439px)
          height: 600px
          width: 800px
          transform: translate(-58%, 20%)

        @media (max-width: 1260px)
          transform: translate(-48%, 18%)

        @media (max-width: 1050px)
           transform: translate(-43%, 18%)

        @media (max-width: 1023px)
          height: 500px
          width: 700px
          transform: translate(-7%, 18%)


      @media (max-width: 767px)
        display: none

    .preview-sm-wrapper
      background: url('~static/preview-sm-bg.png') center bottom no-repeat
      display: none
      background-size: contain
      margin: 0 auto
      overflow: hidden
      transition: all .35s ease-in-out
      width: 450px

      &.open
        background-image: none
        overflow: visible

      @media (max-width: 767px)
        border-radius: 0 0 50% 50%
        height: 450px
        display: block

      @media (max-width: 575px)
        height: 300px
        width: 300px

      .image-animated-sm
        border-radius: 20px
        display: none
        margin: 0 auto
        transition: all .35s ease-in-out
        width: 65%

        @media (max-width: 767px)
          display: block

        &.open
          @media (max-width: 767px)
            width: 80%

  &__mouse
    display: block
    margin-top: 5.63rem

    @media (max-width: 1023px)
      display: none

.about
  position: relative

  @media (max-width: 767px)
    margin-top: 5.5rem

  &__wrapper
    align-items: flex-start
    display: flex
    justify-content: flex-start
    position: relative
    width: 100%

    @media (max-width: 1439px)
      justify-content: space-between

    @media (max-width: 1023px)
      flex-wrap: wrap

    .item
      &_title
        width: 330px

        @media (max-width: 1439px)
          width: 250px

        @media (max-width: 1023px)
          margin-bottom: 5rem
          width: 100%

        @media (max-width: 767px)
          margin-bottom: 1.94rem

      &_image
        text-align: center
        width: 525px

        img
          height: auto
          max-width: 100%

        @media (max-width: 1439px)
          width: 300px

        @media (max-width: 1023px)
          margin: 0 auto
          margin-bottom: 5rem

        @media (max-width: 767px)
          margin-bottom: 2.63rem

      &_description
        width: 277px

        @media (max-width: 1439px)
          width: 230px

        @media (max-width: 1023px)
          width: 100%

        @media (max-width: 767px)
          font-weight: normal
          font-size: 1rem
          width: 280px

        .description
          margin-bottom: 2.88rem

          .title
            margin-bottom: 0.56rem
            color: #fff

          .text
            color: #fff
            font-size: 1rem
            font-weight: normal
            line-height: 20px

            @media (max-width: 1439px)
              font-size: 0.75rem

            @media (max-width: 1023px)
              font-size: 1rem

  .h2
    @media (max-width: 767px)
      width: 330px

  .content
    padding-top: 6rem

    @media (max-width: 767px)
      padding: 0

.subscribe
  margin-top: 5.81rem
  position: relative
  padding-bottom: 10rem
  z-index: 2

  @media (max-width: 1023px)
    margin-top: 3rem
    padding-bottom: 15rem

  @media (max-width: 767px)
    padding-bottom: 10rem

  .form
    align-items: center
    background: #fff
    border-radius: 10px
    display: inline-flex
    flex-direction: column
    margin: 0 auto
    text-align: center
    padding: 10.14rem 0 1.94rem 0
    position: relative
    justify-content: flex-start
    width: 802px

    @media (max-width: 767px)
      width: 100%

    &::before
      background: url('~static/medal-sm.png') center top no-repeat
      background-size: contain
      content: ''
      height: 165px
      left: 50%
      position: absolute
      top: -9px
      transform: translateX(-50%)
      width: 140px

    &.subscribed
      padding-bottom: 6rem

      &::before
        background: url('~static/medal-sm-success.png') center top no-repeat
        background-size: contain

    &__title
      color: $black-form
      font-size: 2.63rem
      line-height: 40px
      font-weight: 500
      margin-bottom: 1.69rem

      @media (max-width: 767px)
        font-size: 2.25rem
        margin-bottom: 1.5rem
        width: 70%

    &__subtitle
      color: $black-form
      font-size: 1rem
      font-weight: normal
      line-height: 23px
      margin-bottom: 1.81rem
      width: 364px

      @media (max-width: 767px)
        margin-bottom: 2.38rem
        width: 90%

    &__progress
      background: #387fd7
      border-radius: 10px
      height: 3px
      margin-bottom: 3.25rem
      width: 276px

      @media (max-width: 767px)
        width: 265px

    .input-block
      display: flex
      flex-wrap: wrap
      margin-bottom: 3.94rem
      justify-content: space-between
      width: 600px

      @media (max-width: 767px)
        margin-bottom: 3.56rem
        width: 100%

      .input-wrapper
        margin-bottom: 1.25rem
        width: 280px

        &:last-child, &:nth-last-child(2)
          margin-bottom: 0

        @media (max-width: 767px)
          margin: 0 auto
          margin-bottom: 1.25rem

          &:nth-child(2)
            order: 3

          &:nth-child(4)
            order: 4

          &:last-child, &:nth-last-child(2)
            margin-bottom: 1.25rem

    .hr
      border: 0
      background: #d8d8d8
      height: 1px
      margin: 3.63rem 0 1.56rem 0
      width: 100%

    &__description
      color: rgba($black-title, .5)
      font-size: 0.75rem
      line-height: 15px
      margin-bottom: 1rem

    .socials
      align-items: center
      display: inline-flex
      justify-content: center

      &__item
        align-items: center
        background: #ffbe00
        border-radius: 50%
        cursor: pointer
        display: inline-flex
        height: 44px
        margin-right: 15px
        transition: opacity .2s ease-in-out
        justify-content: center
        width: 44px

        &:hover
          opacity: .5

        &:last-child
          margin-right: 0

.subscribers
  background: radial-gradient(circle at 67% 46%, #5e7efc, #3346a8)
  background-clip: text
  bottom: -20px
  font-weight: 500
  font-size: 22rem
  position: absolute
  left: 50%
  line-height: 15rem
  transform: translateX(-50%)
  -moz-text-fill-color: transparent
  -webkit-text-fill-color: transparent
  z-index: 0

  @media (max-width: 1023px)
    font-size: 18rem
    bottom: 100px

  @media (max-width: 767px)
    bottom: 50px
    font-size: 10rem

.copy
  color: $blue-l
  font-size: 0.75rem
  line-height: 20px
  margin: 0 0 30px 25px
  position: relative
  z-index: 1

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0

.preview-desktop-move
  transition: all .35s ease-in-out