.index
  overflow: hidden
  position: relative

.container
  margin: auto
  padding: 0 42px 0 42px
  position: relative
  max-width: 1440px

  .line
    background: rgba(#fff, .2)
    height: 1px
    position: absolute
    left: 0
    width: 100%

    &_top
      top: 0

    &_subscribe
      top: 93px

.content
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  max-width: 1183px
  position: relative
  justify-content: flex-start

.preview
  padding-top: 29px
  height: 100vh

  .logo
    height: 34px
    margin-bottom: 5.3rem
    width: 152px

    &__image
      height: auto
      max-width: 100%

  &__wrapper
    align-items: flex-start
    display: flex
    justify-content: space-between
    width: 100%

  &__info
    margin-top: 3.13rem
    text-align: left
    width: 420px

    .h1
      margin-bottom: 1.44rem

    .subtitle
      margin-bottom: 2.8rem

  &__items
    align-items: flex-start
    display: flex
    margin-bottom: 2.7rem
    justify-content: space-between

    .item
      &__description
        color: $blue-l
        font-weight: normal
        font-size: 0.88rem
        line-height: 16px
        margin-top: 0.63rem

  &__image
    height: 533px
    margin-right: -90px
    width: 678px
    position: relative

    &::before
      background: url('~static/medal-big.svg') center no-repeat / contain
      content: ''
      height: 754px
      left: 50%
      position: absolute
      top: -200px
      transform: translateX(-50%)
      width: 658px
      z-index: 1

    .image
      height: auto
      max-width: 100%
      position: relative
      z-index: 2

  &__mouse
    display: block
    margin-top: 5.63rem

.about
  position: relative

  &__wrapper
    align-items: flex-start
    display: flex
    justify-content: flex-start
    position: relative

    .item
      &_title
        width: 330px

      &_image
        text-align: center
        width: 525px

        img
          height: auto
          max-width: 100%

      &_description
        width: 277px

        .description
          margin-bottom: 2.88rem

          .title
            margin-bottom: 0.56rem
            color: #fff

          .text
            color: #fff
            font-size: 1rem
            font-weight: normal
            line-height: 20px

  .content
    padding-top: 6rem

.subscribe
  margin-top: 5.81rem
  position: relative
  padding-bottom: 10rem
  z-index: 2

  .form
    align-items: center
    background: #fff
    border-radius: 10px
    display: inline-flex
    flex-direction: column
    margin: 0 auto
    text-align: center
    padding: 10.14rem 0 1.94rem 0
    position: relative
    justify-content: flex-start
    width: 802px

    &::before
      background: url('~static/medal-sm.png') center top no-repeat / contain
      content: ''
      height: 165px
      left: 50%
      position: absolute
      top: -9px
      transform: translateX(-50%)
      width: 140px

    &__title
      color: $black-form
      font-size: 42px
      line-height: 40px
      font-weight: 500
      margin-bottom: 1.69rem

    &__subtitle
      color: $black-form
      font-size: 1rem
      font-weight: normal
      line-height: 23px
      margin-bottom: 1.81rem
      width: 364px

    &__progress
      background: #387fd7
      border-radius: 10px
      height: 3px
      margin-bottom: 3.25rem
      width: 276px

    .input-block
      display: flex
      flex-wrap: wrap
      margin-bottom: 3.94rem
      justify-content: space-between
      width: 600px

      .input-wrapper
        margin-bottom: 1.25rem
        width: 280px

        &:last-child, &:nth-last-child(2)
          margin-bottom: 0

    .hr
      border: 0
      background: #d8d8d8
      height: 1px
      margin: 3.63rem 0 1.56rem 0
      width: 100%

    &__description
      color: rgba($black-title, .5)
      font-size: 0.75rem
      line-height: 15px
      margin-bottom: 1rem

    .socials
      align-items: center
      display: inline-flex
      justify-content: center

      &__item
        align-items: center
        background: #ffbe00
        border-radius: 50%
        cursor: pointer
        display: inline-flex
        height: 44px
        margin-right: 15px
        transition: opacity .2s ease-in-out
        justify-content: center
        width: 44px

        &:hover
          opacity: .5

        &:last-child
          margin-right: 0

.subscribers
  background: radial-gradient(circle at 67% 46%, #5e7efc, #3346a8)
  background-clip: text
  bottom: -40px
  font-weight: 500
  font-size: 22rem
  position: absolute
  left: 50%
  line-height: 15rem
  transform: translateX(-50%)
  -moz-text-fill-color: transparent
  -webkit-text-fill-color: transparent
  z-index: 0