.container
  margin: auto
  padding: 29px 42px 0 42px
  position: relative
  width: 1440px

.preview
  height: 100vh

  &::after
    background: rgba(#fff, .2)
    bottom: 0
    content: ''
    height: 1px
    left: 50%
    position: absolute
    transform: translateX(-50%)
    width: 62%

  .logo
    height: 34px
    margin-bottom: 5.3rem
    width: 152px

    &__image
      height: auto
      max-width: 100%

  &__content

  &__wrapper
    align-items: flex-start
    display: flex
    justify-content: space-between
    width: 100%

  &__info
    margin-top: 3.13rem
    text-align: left
    width: 420px

    .h1
      margin-bottom: 1.44rem

    .subtitle
      margin-bottom: 2.8rem

  &__items
    align-items: flex-start
    display: flex
    margin-bottom: 2.7rem
    justify-content: space-between

    .item
      &__description
        color: $blue-l
        font-weight: normal
        font-size: 0.88rem
        line-height: 16px
        margin-top: 0.63rem

  &__image
    height: 533px
    width: 678px
    position: relative

    &::before
      position: absolute
      transform: translateX(-50%)
      width: 630px
      z-index: 1

    .image
      height: auto
      max-width: 100%
      position: relative
      z-index: 2

  &__mouse
    display: block
    margin-top: 5.63rem

.about
  margin-top: 6rem